<div class="wrp">
    <div class="color-box" style="background-color: #D29F9F">
        <span class="text">#d29f9f</span>
    </div>
    <h2>Primary</h2>
</div>

<div class="wrp">
    <div class="color-box" style="background-color: #f9e7d3">
        <span class="text">#f9e7d3</span>
    </div>
    <h2>Secondary</h2>
</div>

<div class="wrp">
    <div class="color-box" style="background-color: #000000">
        <span class="text">#000000</span>
    </div>
    <h2>Text primary</h2>
</div>


<div class="wrp">
    <div class="color-box" style="background-color: #3e3636">
        <span class="text">#3e3636</span>
    </div>
    <h2>Text secondary</h2>
</div>

