<div class="container">
    <section class="timeline">
        <div class="container">

          <div class="timeline-item">
            <div class="animated" animateOnScroll [animationName]="setAnimation(0)">
              <div class="timeline-img"></div>
              <div class="timeline-content">
                <h2>4 march 2020</h2>
                <p>Met with all the team members together, voted for a team lead position, organized communications, chose personal roles and other organizational stuff. And after all the decision making process we started working on our project and did our first and the most important step: we created the basic project structure.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="animated" animateOnScroll [animationName]="setAnimation(1)">
              <div class="timeline-img"></div>
              <div class="timeline-content">
                <h2>6 march 2020</h2>
                <p>Lots of additional stuff like external libraries, extra features and so on appeared to be necessary in our project. So some roles in our team needed a little correction: in particular Pavel took all the most difficult work on himself and Vladimir started helping him a lot. That’s why something like an unusual phenomenon appeared: a team inside a team.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="animated" animateOnScroll [animationName]="setAnimation(3)">
              <div class="timeline-img"></div>
              <div class="timeline-content">
                <h2>10 march 2020</h2>
                <p>It may seem a little bit stupid, but our team faced a pretty shocking difficulty: maps. The thing is that it appeared to be quite difficult to implement maps in one of our application’s components. Four out of six team members paused their work and started solving this urgent issue. And finally Pavel came up with a simple and genius solution, so the problem was solved.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="animated" animateOnScroll [animationName]="setAnimation(4)">
              <div class="timeline-img"></div>
              <div class="timeline-content">
                <h2>12 march 2020</h2>
                <p>All the main work on the project has been done. We started testing out application, fixing small bugs, doing mini refactoring things and so on. Made some decisions about the forthcoming presentation and started preparing for the final step: the deployment of our application.</p>
              </div>
            </div>
          </div>

        </div>
    </section>
</div>